/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset/utilities";

@include reset-html5;

@import "compass/layout";

@include sticky-footer(54px);

@import "compass/css3.scss";

code {
    @include box-shadow(rgba(0, 0, 0, 0.3) 0 1px 3px, rgba(0, 0, 0, 0.15) 0 1px 0 0 inset);
    display: inline-block;
    font-size: .95em;
    padding: 0 .4em;
    line-height: 1.5em;
    background: #fff;
    color: inherit;
    font-family: menlo, monaco, "andale mono", "courier new", fixed;
    @include border-radius(4px);
}

.example {
    padding: 2em;

    div {
        background-color: blue;
        border: 10px solid rgba(255, 0, 0, 0.5);
        color: white;
        @include text-shadow(darken(blue, 50%) 2px 2px);
        padding: 3px;
        text-align: center;
        margin-bottom: 2em;
    }

    #padding-box {
        @include background-clip(padding-box);
    }

    #border-box {
        @include background-clip(border-box);
    }
}


@import "compass";

.ex {
    width: 48%;
    margin-right: 2%;
    float: left;
    @include clearfix;

    p {
        padding-top: 10px;
    }
}

.gradient-example {
    width: 80px;
    height: 80px;
    background: red;
    float: left;
    margin: 1rem 1rem 0 0;
}

#radial-gradient {
    @include background-image(radial-gradient(45px 45px, cyan 10px, dodgerblue))
}

#linear-gradient {
    @include background-image(linear-gradient(to bottom right, white, #dddddd))
}

#v-gradient {
    @include background-image(linear-gradient(white, #aaaaaa));
}

#v-gradient-2 {
    @include background-image(linear-gradient(white, #cccccc, #aaaaaa));
}

#v-gradient-3 {
    @include background-image(linear-gradient(white, #cccccc 30%, #bbbbbb 70%))
}

#h-gradient {
    @include background-image(linear-gradient(to right, white, #dddddd))
}

#svg-gradient {
    $svg-gradient-shim-threshold: 1 !global;
    @include background-image(linear-gradient(to right, #2ac363, #cd8c14, #9c4cc2));
    width: 80px;
    height: 80px;
}

#angle-gradient {
    $svg-gradient-shim-threshold: 1 !global;
    @include background-image(linear-gradient(120deg, #2ac363, #cd8c14, #9c4cc2));
    width: 80px;
    height: 80px;
}

#angle-gradient-svg {
    background-image: -svg(linear-gradient(120deg, #2ac363, #cd8c14, #9c4cc2));
    width: 80px;
    height: 80px;
}


.example2 {
    padding: 2em;

    div {
        background: {
            image: image-url("icon.png");
            repeat: repeat;
            position: top left;
        }

        border: 10px solid rgba(255, 0, 0, 0.5);
        color:white;
        @include text-shadow(darken(blue, 50%) 2px 2px);
        padding: 1em;
        text-align: center;
        margin-bottom: 2em;
    }

    #padding-box {
        @include background-origin(padding-box);
    }

    #border-box {
        @include background-origin(border-box);
    }

    #content-box {
        @include background-origin(content-box);
    }
}

.example3 {
    padding: 2em;

    div {
        background: {
            image: image-url("icon.png");
            repeat: no-repeat;
            position: top left;
        }

        ;
        border: 10px solid rgba(255, 0, 0, 0.5);
        color: black;
        @include text-shadow(white 1px 1px 4px);
        padding:1em;
        text-align: center;
        margin-bottom: 2em;
    }

    #auto {
        @include background-size(auto);
    }

    #contain {
        @include background-size(contain);
    }

    #cover {
        @include background-size(cover);
    }

    #percent {
        @include background-size(50% 50%);
    }

    #absolute {
        @include background-size(100px 25px);
    }
}

.border-radius-example {
    width: 125px;
    height: 125px;
    background: red;
    margin: 20px;
    float: left;
    padding: 5px;
}

#border-radius {
    @include border-radius(25px);
}

#border-radius-top-left {
    @include border-top-left-radius(25px);
}

#border-radius-top-right {
    @include border-top-right-radius(25px);
}

#border-radius-bottom-left {
    @include border-bottom-left-radius(25px);
}

#border-radius-bottom-right {
    @include border-bottom-right-radius(25px);
}

#border-radius-top {
    @include border-top-radius(25px);
}

#border-radius-bottom {
    @include border-bottom-radius(25px);
}

#border-radius-bottom {
    @include border-bottom-radius(25px);
}

#border-radius-left {
    @include border-left-radius(25px);
}

#border-radius-right {
    @include border-right-radius(25px);
}

#border-radius-combo {
    @include border-corner-radius(top, left, 40px);
    @include border-corner-radius(top, right, 5px);
    @include border-corner-radius(bottom, left, 15px);
    @include border-corner-radius(bottom, right, 30px);
}

.box-shadow-example div {
    width: 40px;
    height: 40px;
    background: #eeeeee;
    margin: 20px;
    float: left;
}

#box-shadow-default {
    @include single-box-shadow;
}

#box-shadow-custom {
    @include box-shadow(red 2px 2px 10px);
}

#box-shadow-custom-multiple {
    @include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
}

.box-sizing-example {
    background: red;
    padding: 20px;
    border: 10px solid green;
    margin: 20px;
    width: 200px;
}

#content-box {
    @include box-sizing(content-box);
}

#border-box {
    @include box-sizing(border-box);
}

.source {
    @include flow-into(target);
    border: 10px solid green;
    margin: 20px;
    width: 200px;
}

.new-container {
    @include flow-from(target);
    border: 10px solid red;
    margin: 20px;
    width: 200px;
}



#vertical-center {
    padding: 0;

    li {
        background: #CCC;
        width: 15em;
        margin: .5em;
        text-align: center;
        vertical-align: text-top;
        display: inline-block;
        @include display-flex(inline-flex);
        @include align-items(center);
        @include justify-content(center);
    }
}

#flexible {
    padding: 0;
    text-align: center;
    @include display-flex;
    @include flex-wrap(wrap);

    li {
        background: #CCC;
        min-width: 12em;
        margin: .5em;
        padding: .5em;
        display: inline-block;
        @include flex(1 0);
    }
}

#reorder {
    $flex-legacy-enabled: true;
    width: 100%;
    @include display-flex;
    @include flex-direction(column);

    li:nth-child(even) {
        background: #CCC;
        @include order(1);
    }

    $flex-legacy-enabled:false;
}

#layout {
    @include display-flex;
    @include flex-wrap(wrap);

    header,
    footer {
        @include flex(1 0 100%);
    }

    header {
        background: lighten($color: yellow, $amount: 40%);
    }

    nav {
        $flex-legacy-enabled: true;

        ul {
            padding: 0;
            margin: -.5em;
            min-width: 100%;
            @include display-flex(flex);
        }

        li {
            background: #CCC;
            margin: .5em;
            display: inline-block;
            @include flex(1 1 30%);
        }

        $flex-legacy-enabled: false;
    }

    article {
        @include flex(2 1 30em);
    }

    aside {
        flex: 1 0 15em;
        background: lighten(blue, 40%);
    }

    footer {
        background: lighten(green, 50%);
    }
}

#two-column {
    @include column-count(2);
    width: 300px;
    margin-bottom: 20px;
}

#three-column {
    @include column-count(3);
    width: 300px;
    margin-bottom: 20px;
}

#four-column-with-rule {
    @include column-count(4);
    @include column-rule(1px, solid, red);
    // width: 300px;
    min-width: 300px;
    margin-bottom: 20px;
}

$contrasted-dark-default: #333333;
$contrasted-light-default: #e7e7e7;

@import "compass/utilities/color/contrast";

.example {
    p.dark {
        @include contrasted(#5f1210);
    }

    p.light {
        @include contrasted(#fa9e9c);
    }
}

@include font-face("Blooming Grove", font-files("examples/bgrove.ttf", "examples/bgrove.otf"));

.example {
    font-family: "Blooming Grove";
    font-size: 1.5em;
}

.example4 {
    #{elements-of-type(block)} {
        border: 1px solid #777777;
    }

    #{elements-of-type(inline)} {
        color: #cc0000;
    }
}


.example5 {
    #{enumerate(".class",2,4)} {
        background-color: #aaaaaa;
        border: 2px solid #777777;
        margin: 1em;
    }

    @for $i from 2 through 4 {
        .class-#{$i} {
            margin-left: 1em * ($i - 1);
        }
    }
}

.example5-2 {
    .base-class {
        background-color: #aaaaaa;
        border: 2px solid #777777;
        margin: 1em;
    }

    @for $i from 2 through 4 {
        .class-#{$i} {
            @extend .base-class;
            margin-left: 1em * ($i - 1);
        }
    }
}

@import "compass/layout.scss";
@include sticky-footer(72px, "#layout", "#layout_footer", "#footer");


#header {
    background: #999999;
    height: 72px;
}

#footer {
    background: #cccccc;
}

.example6 {
    height: 500px;
    border: 3px solid red;

    p {
        margin: 1em 0.5em;
    }
}



.stretch-container {
    border: 1px solid #999999;
    width: 200px;
    height: 200px;
    position: relative;
    @include inline-block;
}

%stretched {
    $stretch-color: #4c6b99;
    border: 3px solid $stretch-color;
    @include border-radius(8px);
    display: block;
    background-color: darken($color: $stretch-color, $amount: 30%);
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
}

#stretch-full {
    @extend %stretched;
    @include stretch;
}

#stretch-offset {
    @extend %stretched;
    @include stretch(1em, 1em, 1em, 1em);
}

#stretch-x {
    @extend %stretched;
    @include stretch-x;
}

#stretch-y {
    @extend %stretched;
    @include stretch-y;
}

@import "compass/css3/user-interface";

input[type="text"] {
    @include input-placeholder {
        color: #bfbfbf;
        font-style: italic;
    }
}

#inline-block {
    @include inline-block;
    padding: 4px 10px;
    background: red;
    color: white;
}

.opacity-example {
    background: red;
    width: 40px;
    height: 40px;
    float: left;
}

#opacity-10 {
    @include opacity(0.1);
}

#opacity-20 {
    @include opacity(0.2);
}

#opacity-50 {
    @include opacity(0.5);
}

#opaque {
    @include opaque;
}


#transparent {
    @include transparent;
}

$default-text-shadow-color:rgba(red, 0.6);
$default-text-shadow-blur:3px;
$default-text-shadow-v-offset:1px;

.has-single-shadow {
    @include single-text-shadow;
}

.has-custom-shadow {
    @include text-shadow(rgba(blue, 0.2) 1px 1px 0, rgba(blue, 0.2) 2px 2px 0, rgba(blue, 0.2) 3px 3px 0);
}


.transition-example {
    width: 40px;
    height: 40px;
    background: red;
    margin: 20px;
}

#width {
    @include transition-property(width);
}

#width:hover {
    width: 80px;
}

#width-duration {
    @include transition-property(width);
    @include transition-duration(2s);
}

#width-duration:hover {
    width: 80px;
}

#width-duration-easein {
    @include transition-property(width);
    @include transition-duration(2s);
    @include transition-timing-function(ease-in);
}

#width-duration-easein:hover {
    width: 80px;
}

#width-delay {
    @include transition-property(width);
    @include transition-delay(2s);
}

#width-delay:hover {
    width: 80px;
}



@import "compass/utilities/tables/borders";

.example7 {
    table {
        @include inner-table-borders(1px, #7a98c6);
        @include outer-table-borders(2px);
    }
}

@import "compass/utilities/tables";

.example8 {
    table {
        $table-color: #7a98c6;
        @include table-scaffolding;
        @include inner-table-borders(1px, darken($table-color, 40%));
        @include outer-table-borders(2px);
        @include alternating-rows-and-columns($table-color, adjust-hue($table-color, -120deg), #222222);
    }
}

@import "compass/utilities/tables/alternating-rows-and-columns";

.example9 {
    table {
        $table-color: #7a98c6;
        @include alternating-rows-and-columns($table-color, adjust-hue($table-color, -120deg), #222222);
    }
}