/* line 3, ../sass/linkhelper.scss */
a {
  color: #333;
}
/* line 18, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #555;
}
/* line 21, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #f00;
}
/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #00f;
}
/* line 27, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #f00;
}

/* line 7, ../sass/linkhelper.scss */
a {
  text-decoration: none;
}
/* line 4, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_hover-link.scss */
a:hover, a:focus {
  text-decoration: underline;
}

/* line 11, ../sass/linkhelper.scss */
p.secret a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
p.secret a:active, p.secret a:focus {
  outline: none;
}
