/* line 3, ../sass/texthelper.scss */
td.dot-dot-dot {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 8, ../sass/texthelper.scss */
td {
  white-space: nowrap;
}

/* line 10, ../sass/texthelper.scss */
h1.coffee {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('/images/coffee-header.png?1561449335');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
