@for $i from 1 through 36 {
  div:nth-child(#{$i})::after {
    // Pseudo-elements are very much like pseudo-classes, but they have differences. They are keywords, this time preceded by two colons (::), that can be added to the end of selectors to select a certain part of an element.
    content: "#{$i}";
    background-color: hsl($i*10, 75%, 55%);
   
  }
}

body {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

div {
  display: flex;
  // flex: 1 0 auto;

  &::after{
    display: flex;
    // justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    padding: 2rem;
    margin: 2px;
  }
}

