@import "compass";

ul.features {
    @include pretty-bullets('pretty-bullet.png',
        $padding:10px,
        $line-height:22px)
}

li.no-bullet {
display:-webkit-box;
display:-ms-flexbox;
display:flex;
@include no-bullet
}

ul.no-bullet {
    @include no-bullets
}

ul.nav {
    @include horizontal-list(7px, right)
}

ul.words { @include delimited-list }

ul.words { @include delimited-list("! ") }