@import url(help3.css);
/* line 1, ../sass/_common.scss */
body {
  font-size: 1rem;
}

/* line 3, ../sass/_help1.scss */
h1 {
  font-size: 1rem;
  border: 1rem solid #13b33b;
}

/* line 4, ../sass/_help2.scss */
h2 {
  font-size: 1rem;
  border: 2rem solid #13b33b;
}
