/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/print.scss */
.rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 10, ../sass/print.scss */
.rounded2 {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}

/* line 14, ../sass/print.scss */
#opacity {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 18, ../sass/print.scss */
#inline-block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 10, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer html, #footer body {
  height: 100%;
}
/* line 12, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer #root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -54px;
}
/* line 18, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer #root #root_footer {
  height: 54px;
}
/* line 20, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer #footer {
  clear: both;
  position: relative;
  height: 54px;
}

/* line 28, ../sass/print.scss */
#stretch-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 34, ../sass/print.scss */
a {
  color: #00c;
}
/* line 18, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #ccc;
}
/* line 21, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #cc0;
}
/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #00c;
}
/* line 27, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #c0c;
}

/* line 40, ../sass/print.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 2, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
table th {
  text-align: center;
  font-weight: bold;
}
/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
table td,
table th {
  padding: 2px;
}
/* line 8, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
table td.numeric,
table th.numeric {
  text-align: right;
}

/* line 50, ../sass/print.scss */
.icon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAb1BMVEX////+wcD4AAD6OTf5EA35AAD5BAH5CAX5BgP////8b23/6+r+4+P6MS7+3Nz//Pv6Hx36JyT/8vH+zMv7V1X7QD78eHf7TEn7YWD9sbD9qaj/9/f9l5b+19f6FhP9urn8hYT+09L9oJ/5Cwj8kZCNOx6aAAAAAXRSTlPvcFMnjwAAAfVJREFUSMfNlskWnCAQRQUsrIc44DwP3f3/3xg1JyeLGFtXyV248nKqeBwKzxNl4N8kKMX2v098G/KFpyh4ACmP+YnA7HHwCPaCh/xDgTU/ETRJft8XmEgZM9FdQVPUZTCabwpMtQUSRTdLYlIZNozU9wQKWiAB2uBbD8zHl6IMY7PCum+C1ocgGyCvRsQpHei/CRQ52pEVshxAJadmeFWKiE8FllUXpc6xNMhj4PM2ITb6LiI+EzRVCFdr26mESPpGvoAwwYYtic8EaXDQTmOMj1wgxBoPH2xeRKclFQDyHKibPlYutD2QVRU25rc+azq1gCkStHLII/MylcARyGwWRfynwLQAo9isQtbKpQFREwL4+FL7fJYD+fuSYu1tEaWymTvjp8urJmLS50eD0hZAPIboXFl2YWILeRHcXtS7mfvEikZGc1FneQ9DfHn4iHiKlPOVyBa3B94ruhS2+NxnFivCbKiBNcFAdCUwpSOAfe1lQTL2WKcvggHy0YoQdYe4nveU+bKHGYkxNkMXzLBD/EVgUv2+r0DoZIWdOL0oSftFiIOwJvJf2Gj5UmjaOAHiIdriIipioCC+aFoTubIu3bGVu4FW6+B6l37ya9x0KX29Zvj3SNLpRM+ue03BM4H/rwn0Nx6P3ceD/fHT4fHj5PHz5wcwOEvLBhKbTwAAAABJRU5ErkJggg==');
}
